{% load time_filter %}
<!DOCTYPE html>
<html lang="CN">
<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{% static 'source/legendJS/jquery-3.3.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static "source/legendCSS/page1.css" %}">
<link rel="stylesheet" href="{% static "source/legendCSS/animate.css" %}">
<script src="{% static 'legendhtml/dragen.js' %}"></script>
<link rel="stylesheet" href="{% static 'legendhtml/index_style.css' %}">
<script src="{% static 'source/legendJS/ajax.min.js' %}"></script>
<script src="{% static 'source/legendJS/template-web.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>传奇私服网站-最新的传奇sf-私服传奇-传奇SF-私服发布网</title>
</head>

<style type="text/css">


.wrap-text {
    width:300px;
    height:36px;
    display:flex;
    justify-content:space-between;
}


.search-sifu{
    background:rgba(0,0,0,0.3);
    border:1px solid #ced4da;
    border-bottom: 0;
    border-radius:8px 8px 0 0;
    padding:10px 30px 0 30px ;
    font-size:18px;
    color:white;
    height:36px;
    line-height:18px;
    text-align: center;
    width:116px;
    min-width:116px;


}
.search-input-sifu{
    background:rgba(0,0,0,0.3);
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    padding:0;
    border:1px solid #ced4da;
}
.search-input-sifu input,input:focus{
    background-color:transparent !important;
    border:none !important;
    box-shadow: none !important;
    box-sizing:border-box;
    border-radius: 0 8px 8px 8px;
    width:300px;
}



.btn{
    border-left:1px solid #ced4da;
    color:white;
}

.wrap-text-right{
    width:280px;
    height:36px;
    line-height:36px;
    text-align: center;
    min-width:280px;
}

.wrap-text-right span{
    margin-left:20px;

}
.wrap-text-right span a{
    color:white;
    font-size:18px;
}
</style>



<body>
<div class="guns sky">
    <div class="clouds_one"></div>
    <div class="clouds_two"></div>
    <div class="clouds_three"></div>
</div>


<div class="container">
    <div class="container-fluid">
        <div class="jumbotron bg-info" style="padding-top:20px;padding-bottom:20px;">
            <div class="col-lg-12 ">
                <div class="col-lg-3"></div>
{#                {% url 'legend:searchSubmit' %}#}
                <div class="search-wrap-top col-lg-6">
                    <form action="#" method="post" id="formTable">
                        <div class="wrap-text" >
                            <span class="search-sifu">搜私服</span>
                            <div class="wrap-text-right">
                                <span><a class="btn-search-submit1 name176" href="javascript:void(0);" name="1.76" >1.76</a></span>
                                <span><a class="btn-search-submit2 name180" href="javascript:void(0)" name="1.80">1.80</a></span>
                                <span><a class="btn-search-submit3 nameold" href="javascript:void(0);" name="old">复古</a></span>
                                <span><a class="btn-search-submit4 namesingleOccupation" href="javascript:void(0);" name="singleOccupation">单职业</a></span>
                            </div>
                        </div>

                        <div class="input-group search-input-sifu col-lg-12">
                            <input name="content" class="form-control" placeholder="输入需要找的服" type="text"/>
                            <div class="input-group-append">
                                <button class="btn btn-search-submit" type="submit">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="item-1 child1">
                <div class="word ">
                    <span class="resume-hide ">vs6688.com</span>
                </div>
            </div>
            <p class="lead child2 middle-content">欢迎来到vs6688传奇私服网站，本网站免费发布，扶持好服，造传奇沙漠的一片绿洲</p>
            <hr class="my-4 child3">
            <p class="child4" style="font-size:18px;color:white">让玩家和GM都有一个良好的环境，兼顾屏幕小大不同的用户，本站采用响应式表单</p>
            <p class="child4" style="font-size:15px;color:black">如下链接有违反我国法律的行为或其它不良行为，请联系本站站长QQ:2220605971</p>
        </div>

        <div class="search_show">

        </div>
        <div class="contain child5">

            <table class="table ">
                <thead class="thead-pink">
                    <tr class="tr-font bg-info">
                        <th scope="col">服务器名</th>
                        <th scope="col">服务器IP</th>
                        <th scope="col">开区时间 月/日/时</th>
                        <th scope="col">线路类型</th>
                        <th scope="col">版本介绍</th>
                        <th scope="col">客服QQ</th>
                        <th scope="col">详细介绍</th>
                    </tr>
                </thead>
{# 优先级一-现在的服:#}
{# 优先级二-全日推荐服)#}
{# 优先级三-半小时前的服:#}
{# 优先级四-通宵服:#}
{# 优先级五-首推之后的服:#}
                <tbody class="tbodyOfTable ">

                    {# 优先级一-现在的服:#}
                    {% for legend in priority1 %}

                        <tr class="bg-warning table-tr">
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.serverName }}</a></td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.ip }}</a></td>
                            {% if legend.onPage == "allNight" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}通宵推荐</td>
                            {% elif legend.onPage == "allDay" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}全天推荐</td>
                            {% elif legend.onPage == "normal" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}</td>
                            {% endif %}
                            <td class="table-td" >{{ legend.type }}</td>
                            <td class="table-td" >{{ legend.introduce }}<span>-</span><span style="color:red">推荐</span></td>
                            <td class="table-td" >{{ legend.QQ }}</td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">查看介绍</a></td>
                        </tr>
                    {% endfor %}

                {# 优先级二-全日推荐服)#}
                {% for legend in priority2 %}
                            <tr class="bg-danger table-tr">
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.serverName }}</a></td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.ip }}</a></td>
                            <td class="table-td" style="color:black">{{ legend.time|time_format }}全天推荐</td>
                            <td class="table-td" >{{ legend.type }}</td>
                            <td class="table-td" >{{ legend.introduce }}<span>-</span><span style="color:yellow">推荐</span></td>
                            <td class="table-td" >{{ legend.QQ }}</td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">查看介绍</a></td>
                        </tr>
                    {% endfor %}

                {# 优先级三-半小时前的服:#}
                {% for legend in priority3 %}
                        {% if legend.onPage == "allNight" %}
                            <tr class="table-secondary tr-font table-tr">
                        {% elif legend.onPage == "allDay" %}
                            <tr class="bg-warning table-tr">
                        {% else %}
                            <tr class="bg-warning table-tr">
                        {% endif %}
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.serverName }}</a></td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.ip }}</a></td>
                            {% if legend.onPage == "allNight" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}通宵推荐</td>
                            {% elif legend.onPage == "allDay" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}全天推荐</td>
                            {% elif legend.onPage == "normal" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}</td>
                            {% endif %}
                            <td class="table-td" >{{ legend.type }}</td>
                            <td class="table-td" >{{ legend.introduce }}<span>-</span><span style="color:red">推荐</span></td>
                            <td class="table-td" >{{ legend.QQ }}</td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">查看介绍</a></td>
                        </tr>
                    {% endfor %}

                {# 优先级四-通宵服:#}
                {% if priority4 %}
                {% for legend in priority4 %}
                        {% if legend.onPage == "allNight" %}
                            <tr class="table-secondary tr-font table-tr">
                        {% elif legend.onPage == "allDay" %}
                            <tr class="bg-warning table-tr">
                        {% else %}
                            <tr class="bg-warning table-tr">
                        {% endif %}
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.serverName }}</a></td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.ip }}</a></td>
                            {% if legend.onPage == "allNight" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}通宵推荐</td>
                            {% elif legend.onPage == "allDay" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}全天推荐</td>
                            {% elif legend.onPage == "normal" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}</td>
                            {% endif %}
                            <td class="table-td" >{{ legend.type }}</td>
                            <td class="table-td" >{{ legend.introduce }}<span>-</span><span style="color:red">推荐</span></td>
                            <td class="table-td" >{{ legend.QQ }}</td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">查看介绍</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {# 优先级五-首推之后的服:#}
                {% for legend in priority5 %}
                        {% if legend.onPage == "allNight" %}
                            <tr class="table-secondary tr-font table-tr">
                        {% elif legend.onPage == "allDay" %}
                            <tr class="bg-warning table-tr">
                        {% else %}
                            <tr class="bg-warning table-tr">
                        {% endif %}
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.serverName }}</a></td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.ip }}</a></td>
                            {% if legend.onPage == "allNight" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}★通宵推荐★</td>
                            {% elif legend.onPage == "allDay" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}★精品推荐★</td>
                            {% elif legend.onPage == "normal" %}
                                <td class="table-td" style="color:red">{{ legend.time|time_format }}</td>
                            {% endif %}
                            <td class="table-td" >{{ legend.type }}</td>
                            <td class="table-td" >{{ legend.introduce }}<span>-</span><span style="color:red">推荐</span></td>
                            <td class="table-td" >{{ legend.QQ }}</td>
                            <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">查看介绍</a></td>
                        </tr>
                    {% endfor %}





                <tr class="bg-info tr-font" >

                    <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.serverName }}</a></td>
                    <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}">{{ legend.ip }}</a></td>

                    <td class="table-td" style="color:red">{{ legend.time|time_format }}</td>

                    <td class="table-td" >{{ legend.type }}</td>
                    <td class="table-td" >{{ legend.introduce }}</td>
                    <td class="table-td" >{{ legend.QQ }}</td>
                    <td class="table-td" ><a class="table-a" target="_blank" href="{{ legend.href }}"></a></td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<script id="template_each" type="text/html">
{% verbatim %}
<table class="table template-table-s">
    {{if template_legends}}
    <thead class="thead-pink">
        <tr class="tr-font bg-success">
            <th scope="col">服务器名</th>
            <th scope="col">服务器IP</th>
            <th scope="col">开区时间 月/日/时</th>
            <th scope="col">线路类型</th>
            <th scope="col">版本介绍</th>
            <th scope="col">客服QQ</th>
            <th scope="col">详细介绍</th>
        </tr>

    </thead>
    {{/if}}
    <tbody class="tbodyOfTable ">
        {{ each template_legends value nums }}
        <tr class="bg-warning table-tr">
            <td class="table-td" ><a class="table-a"  href="#">{{ value.serverName }}</a></td>
            <td class="table-td" ><a class="table-a"  href="#">{{ value.ip }}</a></td>

            <td class="table-td" style="color:red">{{ value.time }}</td>

            <td class="table-td" >{{ value.type }}</td>
            <td class="table-td" >{{ value.introduce }}<span>-</span><span style="color:red">推荐</span></td>
            <td class="table-td" >{{ value.QQ }}</td>
            <td class="table-td" ><a class="table-a"  href="{{ value.href }}">查看介绍</a></td>
        </tr>
        {{ /each }}
    </tbody>
</table>
{% endverbatim %}
</script>

</body>
</html>